PORT=3000
NODE_ENV=development
NODE_TLS_REJECT_UNAUTHORIZED=0

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=

FRONTEND_URL=http://localhost:5173
